.task-list {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 8px;
}

.task-list__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.task-list__divider {
    align-self: center;
    height: 1px;
    width: 75%;
    background-color: wheat;
}
