.task-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    cursor: pointer;
    transition: background-color 0.15s ease;
    border-radius: 6px;
    padding: 10px 0;
    margin-top: 4px;
}

.task-item:hover {
    background-color: wheat;
}
